<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="somFree Toolkit" Language="1033" Version="1.0.0.6271" Manufacturer="somfree.sf.net" UpgradeCode="82381AFF-D551-4C55-81A4-59914385312D">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86" Description="somFree Toolkit" Comments="object toolkit" />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Upgrade Id="{82381AFF-D551-4C55-81A4-59914385312D}">
      <UpgradeVersion Maximum="1.0.0.6271" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
    <Condition Message="This application is only supported on Windows 7 or higher."><![CDATA[Installed OR (VersionNT > 600)]]></Condition>
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="../pkg/license.rtf" /> 
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="somtk">
          <Directory Id="INSTALLDIR1" Name="bin" />
          <Directory Id="INSTALLDIR2" Name="lib" />
          <Directory Id="INSTALLDIR3" Name="include" />
          <Directory Id="INSTALLDIR4" Name="etc">
            <Directory Id="INSTALLDIR5" Name="dsom" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="SystemFolder" Name="SystemFolder" />
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="som.dll" Guid="*" Directory="INSTALLDIR1" Win64="no" >
        <File Id="som.dll" KeyPath="yes" />
      </Component>
      <Component Id="somdd.exe" Guid="*" Directory="INSTALLDIR1" Win64="no" >
        <File Id="somdd.exe" KeyPath="yes" />
        <ServiceInstall Id="SOMDD"
                Type="ownProcess"
                Vital="yes"
                Name="SOMDD"                    
                DisplayName="Distributed SOM"
                Description="Provides network access to SOM objects"
                ErrorControl="ignore"
                Account="NT AUTHORITY\LocalService"
                Start="disabled"
                Interactive="no" />
	<ServiceControl Id="SOMDD" Name="SOMDD" Remove="uninstall" Stop="both" /> 	
      </Component>
      <Component Id="somtk.lib" Guid="*" Directory="INSTALLDIR2" Win64="no" >
        <File Id="somtk.lib" KeyPath="yes" />
      </Component>
      <Component Id="somobj.idl" Guid="*" Directory="INSTALLDIR3" Win64="no" >
        <File Id="somobj.idl" KeyPath="yes" />
      </Component>
      <Component Id="somenv.ini" Guid="*" Directory="INSTALLDIR4" Win64="no" >
        <File Id="somenv.ini" KeyPath="yes" />
      </Component>
      <Component Id="impl.db" Guid="*" Directory="INSTALLDIR5" Win64="no" >
        <File Id="impl.db" KeyPath="yes" />
      </Component>
      <Component Id="somddmsg.dll" Guid="*" Directory="SystemFolder" Win64="no" >
        <File Id="somddmsg.dll" KeyPath="yes" />
      </Component>
      <Component Id="SOMDD_Environment" Guid="{66E957A3-E334-4E60-91AF-75BBDC993FCA}" Directory="INSTALLDIR" Win64="no" >
        <RegistryKey Root="HKLM"
                     Key="SYSTEM\CurrentControlSet\Services\SOMDD\Environment"
              	     ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" >
            <RegistryValue Type="string" Name="SOMBASE" Value="[ProgramFilesFolder]somtk" KeyPath="yes" />
            <RegistryValue Type="string" Name="SOMIR" Value="[INSTALLDIR4]som.ir" />
            <RegistryValue Type="string" Name="SOMENV" Value="[INSTALLDIR4]somenv.ini" />
            <RegistryValue Type="string" Name="SOMDDIR" Value="[INSTALLDIR4]dsom" />
         </RegistryKey>
      </Component>
      <Component Id="SOMDD_EventLog" Guid="{51BA663A-3872-4643-9E29-634583F6310B}" Directory="INSTALLDIR" Win64="no" >
        <RegistryKey Root="HKLM"
                     Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\SOMDD"
                     ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"  >
            <RegistryValue Type="expandable" Name="EventMessageFile" Value="%SystemRoot%\system32\somddmsg.dll" KeyPath="yes" />
            <RegistryValue Type="expandable" Name="DisplayNameFile" Value="%SystemRoot%\system32\somddmsg.dll" />
            <RegistryValue Type="integer" Name="TypesSupported" Value="7" />
            <RegistryValue Type="integer" Name="DisplayNameID" Value="256" />
         </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
