#include "windows.h"
#include <depvers.h>

1 VERSIONINFO
 FILEVERSION DEPVERS_somdchk_INT4
 PRODUCTVERSION DEPVERS_somtkpkg_INT4
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG|VS_FF_PRERELEASE
#else
 FILEFLAGS VS_FF_PRERELEASE
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "140904e4" // New Zealand
        BEGIN
            VALUE "Comments", "somtk test program\0"
            VALUE "CompanyName", "Roger Brown\0"
            VALUE "FileDescription", "check configuration tool\0"
            VALUE "FileVersion", DEPVERS_somdchk_STR4
            VALUE "InternalName", "somdchk\0"
            VALUE "LegalCopyright", "© Roger Brown. 2007\0"
            VALUE "OriginalFilename", "SOMDCHK.EXE\0"
            VALUE "ProductName", DEPVERS_somtkpkg_PRODUCTNAME
            VALUE "ProductVersion", DEPVERS_somtkpkg_STR4
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x1409, 1252
    END
END

